@import '../../scss/base.scss';

.search__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__input {
    font-size: 1.4rem;
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    text-align: center;
    letter-spacing: .5px;
    color: $c-grey-dark;
    border: 1px solid $c-grey; 
    border-bottom: 2px solid $c-grey; 
    &::placeholder {
      color: $c-grey;
    }
    &:focus {
      outline: 0;
      background-color: $c-grey-light;
      border-bottom: 2px solid $c-secondary; 
    }
    &:focus::placeholder{
      visibility: hidden;
    }
  }
  &__label {
    font-size: 1rem;
    color: darken($c-grey, 20%);
    width: 100%;
    text-align: center;
    background-color: $c-grey;
    padding: 0.1rem;
  }
}
