@import '../../scss/base.scss';

.anchor {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.4rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid $c-secondary-dark;
  color: $c-secondary-dark;
  background-color: $c-white;
  transition: all 0.3s;
  &:hover {
    background-color: $c-secondary-dark;
    color: $c-white;
  }
}
