$c-primary:#f44336;
$c-primary-text:#222;
$c-primary-light:#ff7961;
$c-primary-light-text:#222;
$c-primary-dark:#ba000d;
$c-primary-dark-text:#fff;
$c-secondary:#4caf50;
$c-secondary-light:#80e27e;
$c-secondary-dark:#087f23;
$c-secondary-text:#222;
$c-secondary-dark-text:#fff;

$c-white:#fff;
$c-black: #222;
$c-grey-light:#efefef;
$c-grey:#bdbdbd;
$c-grey-dark:#494949;
